.deals {
    padding: 95px 0 158px 0;
    background-color: #fff6f6;
    border: 1px solid $colorGreyBorder;

    &__list {
        display: flex;
        position: relative;
    }

    &__card {
        flex: 0 1 50%;
    }
}