.featured {
    margin-bottom: 100px;
    
    &__navigation {
        margin-bottom: 42px;
    }

    &__item {
        width: 20%;
        @media (max-width: $ContainerPageLarge) {
            width: 25%;
        }

        @media (max-width: $ContainerPageMedium) {
            width: 33.3334%;
        }

        @media (max-width: $ContainerPageSmall) {
            width: 50%;
        }

        @media (max-width: $ContainerPageSmallExtra) {
            width: 100%;
        }
    }

    &__navigation {
        margin-bottom: 45px;
    } 
}