@font-face {
	font-family: 'CerebriSans';
	src: url('../../fonts/CerebriSans-Regular.eot');
	src: local('☺'), url('../fonts/CerebriSans-Regular.woff') format('woff'), url('../fonts/CerebriSans-Regular.ttf') format('truetype'), url('../fonts/CerebriSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'CerebriSans';
	src: url('../../fonts/CerebriSans-Medium.eot');
	src: local('☺'), url('../fonts/CerebriSans-Medium.woff') format('woff'), url('../fonts/CerebriSans-Medium.ttf') format('truetype'), url('../fonts/CerebriSans-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'CerebriSans';
	src: url('../fonts/CerebriSans-Bold.eot');
	src: local('☺'), url('../fonts/CerebriSans-Bold.woff') format('woff'), url('../fonts/CerebriSans-Bold.ttf') format('truetype'), url('../fonts/CerebriSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
