.intro {
    margin-bottom: 98px;
}

.intro__slider {
    position: relative;
}

.slider__item {
    height: 587px;

    &--1 {
        background: url('../img/slider-main-1.jpg') center no-repeat;
        background-size: cover;
        padding-top: 182px;
    }

    &--2 {
        background: url('../img/slider-main-2.jpg') center no-repeat;
        background-size: cover;
        padding-top: 100px;
    }

    &--3 {
        background: url('../img/slider-main-3.jpg') center no-repeat;
        background-size: cover;
        padding-top: 50px;
    }
}

.slider__content {
    text-align: left;

    &--right {
        text-align: right;
    }
}

.slider__heading {
    max-width: 588px;
    font-size: 6rem;
    line-height: 1.2;
    margin-bottom: 25px;
    span {
        font-weight: 700;
    }

    &--red {
        color: $colorRed;
    }

    &--white {
        color: $colorWhite;
    }

    &--right {
        margin-left: auto;
    }

}

.slider__button {
    color: $colorWhite;
    background-color: $colorDarkButton;
    font-size: 1.6rem;
    font-weight: 400;

    &--outlined {
        background-color: transparent;
        border: 1px solid $colorRed;
        color: $colorRed;
    }

    &--white {
        background-color: $colorWhite;
        color: $colorBlack;
    }
}
