body {
  font-family: 'CerebriSans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1830px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: 991.98px) {
    max-width: 970px;
  }
  @media (max-width: 767.98px) {
    max-width: 750px;
  }
  @media (max-width: 479.98px) {
    max-width: none;
    padding: 0 10px;
  }
}

.container-content {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}

.icon {
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 18px 50px;
}

@import "./null";
@import "./variables";
@import "./fonts";
@import "./contacts";
@import "./header";
@import "./intro";



@import "./sliders/main-slider";
