
// Breakpoint
$ContainerPageLarge: 1300px;
$ContainerPageMedium: 991.98px;
$ContainerPageSmall: 767.98px;
$ContainerPageSmallExtra: 479.98px;


$ContainerContentOrigin: 1400px;
$ContainerContentMedium: 991.98px;
$ContainerContentSmall: 767.98px;
$ContainerContentSmallExtra: 479.98px;

body {
  font-family: 'CerebriSans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1830px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: $ContainerPageMedium) {
    max-width: 970px;
  }
  @media (max-width: $ContainerPageSmall) {
    max-width: 750px;
  }
  @media (max-width: $ContainerPageSmallExtra) {
    max-width: none;
    padding: 0 10px;
  }
}

.container-content {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon {
  width: 21px;
  height: 21px;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &--arrow {
    width: 10px;
    height: 16px;
  }

  &--category {
    width: 50px;
    height: 43px;
    margin-bottom: 30px;
  }

  &--rating {
    width: 12px;
    height: 12px;
    fill: #ffbd00;
    cursor: default;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

@import "./null";
@import "./variables";
@import "./fonts";
@import "./ui";
@import "./contacts";
@import "./header";
@import "./intro";
@import "./categories";
@import "./best";
@import "./featured";
@import "./deals";
@import "./new-releases";
@import "./biography";
@import "./authors";
@import "./newsletters";
@import "./footer";

@import "./components/card-book";
@import "./components/card-deal";
@import "./components/card-row";
@import "./components/card-author";
@import "./components/navigation";

@import "./sliders/main-slider";
@import "./sliders/best-slider";
@import "./sliders/deals-slider";
@import "./sliders/biography-slider";
