//Color

$colorBlack: #000;
$colorWhite: #fff;
$colorRed: red;

$colorGreyBorder: #eae8e4;
$colorGreySearch: #f6f5f3;
$colorRedActiveLink: #f75446;
$colorDarkButton: #161619;
$colorDot: #dccccc;
$colorTextSecondary: rgb(124, 110, 101);
