.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;  
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
    position: absolute;
    width: 9px;
    height: 18px;
    top: 50%;
    z-index: 5;
    border: 1px solid $colorGreyBorder;
    font-size: 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
    background: url('../../img/arrow_left.svg') center no-repeat;
    background-size: cover;
    left: -108px; 
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    background: url('../../img/arrow_right.svg') center no-repeat;
    background-size: cover;
    right: -108px;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{

}
.slick-dots li{
    margin: 0 10px;
}
/* Активная точка */
.slick-dots li.slick-active button{

}
/* Элемент точки */
.slick-dots li button{
}