<div class="card-book__content">
    <a class="card-book__img" href="#">
        <img src="./img/moon_stone-book.jpg" alt="MoonStone"/>
    </a>   
    <div class="card-book__info">        
        <p class="card-book__version">Kindle Edition</p>
        <a class="card-book__title" href="#">The Overdue Life of Amy Byler</a>
        <a class="card-book__author" href="#">Kelly Harms</a>
        <p class="card-book__price">
        <span class="card-book__price--actual">&#36;37</span>
        <span class="card-book__price--old">&#36;78.96</span>
        </p>
        <div class="card-book__rating rating">
        <ul class="rating__list">
            <svg class="icon icon--rating">
            <use xlink:href="#best-icon--star" />
            </svg>
            <svg class="icon icon--rating">
            <use xlink:href="#best-icon--star" />
            </svg>
            <svg class="icon icon--rating">
            <use xlink:href="#best-icon--star" />
            </svg>
            <svg class="icon icon--rating">
            <use xlink:href="#best-icon--star" />
            </svg>
            <svg class="icon icon--rating">
            <use xlink:href="#best-icon--star" />
            </svg>
        </ul>
        <span class="rating__count">(3.200)</span>
        </div>
    </div> 
    <div class="card-book__discount discount-card">
        <span class="discount-card__percent">21%</span>
    </div>
    <div class="card-book__actions actions">
        <button class="actions__button">ADD TO CART</button>
        <div class="actions__icon">
            <svg>
                <use xlink:href="#best-icon--eye" />
            </svg>
        </div>
        <div class="actions__icon">
            <svg>
                <use xlink:href="#contacts-icon--heart" />
            </svg>
        </div>
    </div>
</div>