
<div class="card-deal__content">
    <div class="card-deal__column card-deal__column--small">
        <img class="card-deal__img" src="./img/moon_stone-book.jpg" alt="MoonStone">
    </div>
    <div class="card-deal__column card-deal__column--big">
        <div class="card-deal__info">
            <p class="card-deal__version">Kindle Edition</p>
            <h3 class="card-deal__title">The Overdue Life of Amy Byler</h3>
            <p class="card-deal__author">Kelly Harms</p>
            <p class="card-deal__price">
                <span class="card-deal__price--actual">&#36;37</span>
                <span class="card-deal__price--old">&#36;78.96</span>
            </p>
            <div class="card-deal__rating rating">
                <ul class="rating__list">
                    <svg class="icon icon--rating">
                        <use xlink:href="#best-icon--star" />
                    </svg>
                    <svg class="icon icon--rating">
                        <use xlink:href="#best-icon--star" />
                    </svg>
                    <svg class="icon icon--rating">
                        <use xlink:href="#best-icon--star" />
                    </svg>
                    <svg class="icon icon--rating">
                        <use xlink:href="#best-icon--star" />
                    </svg>
                    <svg class="icon icon--rating">
                        <use xlink:href="#best-icon--star" />
                    </svg>
                </ul>
                <span class="rating__count">(3.200)</span>
            </div>   
            <div class="card-deal__offer offer-card">
                <p class="offer-card__text"><span>Hurry up!</span>Offer ends in:</p>
                <ul class="offer__timer timer-offer">
                    <li class="timer-offer__time">
                        <span>114</span>
                        Days
                    </li>
                    <li class="timer-offer__time">
                        <span>03</span>
                        Hours
                    </li>
                    <li class="timer-offer__time">
                        <span>60</span>
                        Minutes
                    </li>
                    <li class="timer-offer__time">
                        <span>25</span>
                        Seconds
                    </li>
                </ul>
            </div>
            <div class="card-deal__total total-card">
                <div class="total-card__sold">
                    <p class="total-card__text">Already Sold: <span>14</span></p>
                    <p class="total-card__text">Available: <span>3</span></p>
                </div>
                <div class="total-card__bar"></div>
            </div>
            <div class="card-deal__discount">
                <div class="discount-card-deal">
                    <p class="discount-card-deal__save">Save</p>
                    <p class="discount-card-deal__price">$49</p>
                </div>
            </div>
        </div>
    </div>
</div>
